* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: "Caveat";
  src: url("../assets/fonts/Caveat-Regular.ttf");
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav #homeLink {
  margin-left: 50px;
}
nav #homeLink a {
  color: black;
  text-decoration: none;
  font-family: Caveat;
  font-size: 25px;
}
nav #navItems a {
  color: black;
  text-decoration: none;
  font-family: Caveat;
  font-size: 25px;
  padding: 0px 40px 0px 40px;
}
nav #navItems :hover {
  text-decoration: underline;
  text-underline-offset: 10px;
}
nav #navItems #loginBtn {
  width: 158px;
  height: 52px;
  border: none;
  border-radius: 26px;
  background-color: #ffd972;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-right: 50px;
}

@font-face {
  font-family: "Lato Regular";
  src: url("../assets/fonts/Lato-Regular.ttf");
}
.home-content {
  background-image: linear-gradient(rgba(242, 92, 84, 0.5), rgba(242, 92, 84, 0.5)), url("../images/hero.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-color: pink;
  font-family: "Caveat";
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.home-content .circles {
  display: flex;
  justify-content: center;
  align-items: space-between;
  width: 80%;
}
.home-content .circles .title-circle {
  background-color: #ffd972;
  width: 357.58px;
  height: 357.58px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  margin-top: 50px;
}
.home-content .circles .title-circle h3 {
  font-size: 24px;
  font-weight: bold;
}
.home-content .circles .title-circle p {
  font-size: 13px;
  font-family: "Lato Regular";
  width: 164px;
  height: 80px;
  text-align: center;
}
.home-content .circles .background-circle {
  z-index: 1;
  width: 167.88px;
  height: 167.88px;
  border-radius: 50%;
  background-color: #fcbcb8;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  margin-left: 380px;
}
.home-content .circles .background-circle p {
  font-family: "Lato Regular";
  width: 105.76px;
  height: 37.77px;
  font-size: 12px;
  text-align: center;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato-Regular.ttf");
}
.background {
  background-image: linear-gradient(rgba(167, 232, 189, 0.5), rgba(167, 232, 189, 0.5)), url("../images/recipe-hero.jpg");
  background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.background .recipe-title {
  font-family: "Caveat";
}
.background .recipes {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.background .recipes .recipe {
  max-width: 524px;
  height: 263px;
  display: flex;
  margin-bottom: 50px;
}
.background .recipes .recipe .recipe-img {
  width: 300px;
  height: 263px;
}
.background .recipes .recipe .recipe-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15%;
}
.background .recipes .recipe .recipe-textBox {
  background-color: white;
  border-radius: 15%;
  height: 263px;
  width: 224px;
}
.background .recipes .recipe .recipe-textBox .recipe-text {
  margin: 0 auto;
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  font-family: "Lato";
}
.background .recipes .recipe .recipe-textBox .recipe-text .icon-text {
  align-self: center;
  margin: 0 auto;
  height: 24px;
  width: 50%;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
.background .recipes .recipe .recipe-textBox .recipe-text .icon-text .icon {
  margin-right: 17px;
}
.background .recipes .recipe .recipe-textBox .recipe-text .icon-text .icon img {
  object-fit: fill;
  height: 100%;
  width: 25px;
}
.background .recipes .recipe .recipe-textBox .recipe-text .icon-text p {
  width: 80%;
  font-size: 10px;
  height: 100%;
  line-height: 24px;
}
.background .recipes .recipe .recipe-textBox .recipe-text a {
  width: 80%;
  color: black;
  font-size: 15px;
  margin: 0 auto;
  text-decoration: underline 2px solid black;
  text-underline-offset: 5px;
  background-color: aqua;
}
.background .recipes .recipe .recipe-textBox .recipe-text p {
  width: 80%;
  font-size: 11px;
  margin: 0 auto;
  max-height: 142px;
}

@font-face {
  font-family: "Lato Italic";
  src: url("../assets/fonts/Lato-Italic.ttf");
}
@font-face {
  font-family: "Caveat";
  src: url("../assets/fonts/Caveat.ttf");
}
@font-face {
  font-family: "Lato-Light";
  src: url("../assets/fonts/Lato-Light.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato.ttf");
}
.createRecipeContent {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.createRecipeContent #createRecipeGreet {
  font-family: Caveat;
  font-size: 25px;
  width: 980px;
  height: 32px;
  padding: 132px 0px 78px 0px;
}
.createRecipeContent .generalDetails {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.createRecipeContent .generalDetails input {
  border: none;
  height: 30px;
  border-bottom: 2.5px solid black;
  width: 980px;
  margin-bottom: 87px;
}
.createRecipeContent .generalDetails input::placeholder {
  font-family: Lato-Light;
  font-size: 20px;
  color: black;
}
.createRecipeContent .generalDetails #addImgButton {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  color: black;
  width: 110px;
  height: 36px;
  border: none;
  border-radius: 26px;
  background-color: #ffd972;
  margin-right: 50px;
  font-family: Caveat;
  margin: 0px 0px -20px 870px;
  z-index: 500 !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.createRecipeContent .generalDetails #addImgButton a {
  text-decoration: none;
  color: black;
}
.createRecipeContent #recipeHeader {
  font-family: Lato-Light;
  font-size: 20px;
  width: 980px;
  height: 32px;
  padding: 130px 0px 50px 0px;
}
.createRecipeContent .formHolder {
  width: 980px;
}
.createRecipeContent .formHolder .ingred {
  position: relative;
  margin-bottom: 70px;
}
.createRecipeContent .formHolder .ingred input {
  display: block;
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 2.5px solid black;
  font-size: 24px;
  outline: none;
  margin-bottom: 87px;
}
.createRecipeContent .formHolder .ingred input::placeholder {
  font-family: Lato-Light;
  font-size: 20px;
  color: black;
}
.createRecipeContent .formHolder .ingred .addBtn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #efa7a7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 35px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.createRecipeContent .formHolder .ingred .addBtn p {
  margin-bottom: 5px;
}
.createRecipeContent #recipeInstructionsHeader {
  font-family: Lato-Light;
  font-size: 20px;
  width: 980px;
  height: 32px;
  padding: 130px 0px 50px 0px;
}
.createRecipeContent .instructions {
  position: relative;
  margin-bottom: 70px;
}
.createRecipeContent .instructions input {
  display: block;
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 2.5px solid black;
  font-size: 24px;
  outline: none;
  margin-bottom: 87px;
}
.createRecipeContent .instructions input::placeholder {
  font-family: Lato-Light;
  font-size: 20px;
  color: black;
}
.createRecipeContent .instructions .addSBtn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #efa7a7;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 35px;
  cursor: pointer;
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.createRecipeContent .instructions .addSBtn p {
  margin-bottom: 5px;
}
.createRecipeContent #submitRecipe {
  width: 422px;
  height: 52px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
  color: black;
  border-radius: 26px;
  background-color: #efa7a7;
  margin-right: 50px;
  font-family: Caveat;
  font-size: 25px;
  margin-bottom: 110px;
}
.createRecipeContent #submitRecipe a {
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: "Lato Light";
  src: url(../assets/fonts/Lato-Light.ttf);
}
.view-desc {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
  height: 421px;
}
.view-desc .recipeName {
  font-size: 20px;
  width: 4.5%;
  height: 421px;
  line-height: 33px;
  display: flex;
  align-items: center;
  font-family: "Lato";
}
.view-desc .recipeName p {
  transform: rotate(-90deg);
  height: 33px;
  width: 100%;
  line-height: 33px;
  letter-spacing: 3px;
  font-size: 25px;
  white-space: nowrap;
}
.view-desc img {
  width: 468px;
  height: 421px;
  object-fit: cover;
}
.view-desc .recipe-desc {
  height: 421px;
  display: flex;
  align-items: left;
  justify-content: space-evenly;
  flex-direction: column;
  margin-left: 40px;
}
.view-desc .recipe-desc h2 {
  font-family: "Lato";
  font-size: 25px;
  letter-spacing: 3px;
}
.view-desc .recipe-desc p {
  font-family: "Caveat";
  font-size: 20px;
}

.ingred-and-instructions {
  width: 73%;
  margin: 0 auto;
}
.ingred-and-instructions h2 {
  margin-top: 48px;
  font-family: "Lato";
  font-size: 25px;
  letter-spacing: 3px;
}
.ingred-and-instructions ul {
  font-family: "Caveat";
  font-size: 20px;
  list-style-type: none;
}
.ingred-and-instructions ol {
  font-family: "Caveat";
  font-size: 20px;
  list-style-type: none;
  margin-bottom: 48px;
}

.edit-button {
  width: 73%;
  margin: 0 auto;
  margin-bottom: 93px;
}
.edit-button button {
  width: 127px;
  height: 42px;
  border: none;
  border-radius: 26px;
  background-color: #ffd972;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-right: 50px;
  font-family: "Caveat";
  font-size: 20px;
}

@font-face {
  font-family: "Lato Italic";
  src: url("../assets/fonts/Lato-Italic.ttf");
}
footer {
  font-family: Lato Italic;
  color: #393939;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer #copyright {
  margin-left: 40px;
}
footer #footerLinks a {
  padding: 0px 26px 26px 20px;
  text-decoration: none;
  color: #393939;
}
footer #socials {
  margin-right: 40px;
}

@font-face {
  font-family: "Lato Italic";
  src: url("../assets/fonts/Lato-Italic.ttf");
}
@font-face {
  font-family: "Caveat";
  src: url("../assets/fonts/Caveat.ttf");
}
@font-face {
  font-family: "Lato-Light";
  src: url("../assets/fonts/Lato-Light.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato.ttf");
}
.loginContent {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 93px 0px 132px 0px;
}
.loginContent .signInForm {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 255px;
}
.loginContent .signInForm input {
  border: none;
  border-bottom: 3px solid black;
  width: 250px;
  margin-bottom: 52px;
  font-family: Lato;
  font-size: 12px;
}
.loginContent .signInForm input::placeholder {
  color: black;
}
.loginContent .signInForm .signIn {
  margin-left: -100px;
}
.loginContent .signInForm .signIn .signInHeader {
  font-family: Lato;
  font-size: 30px;
  margin-bottom: 62px;
}
.loginContent .signInForm #loginSubmit {
  width: 250px;
  height: 52px;
  border: none;
  border-radius: 26px;
  background-color: #ffd972;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: Caveat;
  font-size: 25px;
}
.loginContent .signInForm #loginSubmit:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  cursor: pointer;
}
.loginContent .signUpForm {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 255px;
}
.loginContent .signUpForm input {
  border: none;
  border-bottom: 3px solid black;
  width: 250px;
  margin-bottom: 52px;
  font-family: Lato;
  font-size: 12px;
}
.loginContent .signUpForm input::placeholder {
  color: black;
}
.loginContent .signUpForm .signUp {
  margin-left: -140px;
}
.loginContent .signUpForm .signUp .signUpSubheader {
  font-family: Lato Italic;
  font-size: 12px;
}
.loginContent .signUpForm .signUp .signUpHeader {
  font-family: Lato;
  font-size: 30px;
  margin-bottom: 62px;
}
.loginContent #registerSubmit {
  width: 250px;
  height: 52px;
  border: none;
  border-radius: 26px;
  background-color: #ffd972;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: Caveat;
  font-size: 25px;
}
.loginContent #registerSubmit:hover {
  text-decoration: underline;
  text-underline-offset: 10px;
  cursor: pointer;
}

/*# sourceMappingURL=styles.css.map */
