* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: "Caveat";
  src: url("../assets/fonts/Caveat-Regular.ttf");
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav #homeLink {
  margin-left: 50px;
}
nav #homeLink a {
  color: black;
  text-decoration: none;
  font-family: Caveat;
  font-size: 25px;
}
nav #navItems a {
  color: black;
  text-decoration: none;
  font-family: Caveat;
  font-size: 25px;
  padding: 0px 40px 0px 40px;
}
nav #navItems :hover {
  text-decoration: underline;
  text-underline-offset: 10px;
}
nav #navItems #loginBtn {
  width: 158px;
  height: 52px;
  border: none;
  border-radius: 26px;
  background-color: #ffd972;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-right: 50px;
}

@font-face {
  font-family: "Lato Regular";
  src: url("../assets/fonts/Lato-Regular.ttf");
}
.home-content {
  background-image: linear-gradient(rgba(242, 92, 84, 0.5), rgba(242, 92, 84, 0.5)), url("../images/hero.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-color: pink;
  font-family: "Caveat";
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.home-content .circles {
  display: flex;
  justify-content: center;
  align-items: space-between;
  width: 80%;
}
.home-content .circles .title-circle {
  background-color: #ffd972;
  width: 357.58px;
  height: 357.58px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
  margin-top: 50px;
}
.home-content .circles .title-circle h3 {
  font-size: 24px;
  font-weight: bold;
}
.home-content .circles .title-circle p {
  font-size: 13px;
  font-family: "Lato Regular";
  width: 164px;
  height: 80px;
  text-align: center;
}
.home-content .circles .background-circle {
  z-index: 1;
  width: 167.88px;
  height: 167.88px;
  border-radius: 50%;
  background-color: #fcbcb8;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  margin-left: 380px;
}
.home-content .circles .background-circle p {
  font-family: "Lato Regular";
  width: 105.76px;
  height: 37.77px;
  font-size: 12px;
  text-align: center;
}

.background {
  background-image: linear-gradient(rgba(167, 232, 189, 0.5), rgba(167, 232, 189, 0.5)), url("../images/recipe-hero.jpg");
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.background .recipe-title {
  font-family: "Caveat";
}
.background .recipes {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-around;
}
.background .recipes .recipe {
  width: 524px;
  height: 263px;
  display: flex;
}
.background .recipes .recipe .recipe-img {
  width: 300px;
  height: 263px;
}
.background .recipes .recipe .recipe-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15%;
}
.background .recipes .recipe .recipe-text {
  background-color: white;
  border-radius: 15%;
  height: 263px;
  width: 224px;
  font-family: "Lato Regular";
  text-align: center;
}
.background .recipes .recipe .recipe-text h1 {
  font-size: 15px;
}

@font-face {
  font-family: "Lato Italic";
  src: url("../assets/fonts/Lato-Italic.ttf");
}
@font-face {
  font-family: "Caveat";
  src: url("../assets/fonts/Caveat.ttf");
}
@font-face {
  font-family: "Lato-Light";
  src: url("../assets/fonts/Lato-Light.ttf");
}
@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato.ttf");
}
.createRecipeContent {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.createRecipeContent #createRecipeGreet {
  font-family: Caveat;
  font-size: 25px;
  width: 980px;
  height: 32px;
  padding: 132px 0px 78px 0px;
}
.createRecipeContent .generalDetails {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
.createRecipeContent .generalDetails input {
  border: none;
  height: 30px;
  border-bottom: 2.5px solid black;
  width: 980px;
  margin-bottom: 87px;
}
.createRecipeContent .generalDetails input::placeholder {
  font-family: Lato-Light;
  font-size: 20px;
  color: black;
}
.createRecipeContent .generalDetails #loginBtn {
  width: 110px;
  height: 36px;
  border: none;
  border-radius: 26px;
  background-color: #ffd972;
  margin-right: 50px;
  font-family: Caveat;
}
.createRecipeContent .generalDetails #loginBtn a {
  text-decoration: none;
  color: black;
}
.createRecipeContent #recipeHeader {
  font-family: Lato-Light;
  font-size: 20px;
  width: 980px;
  height: 32px;
  padding: 130px 0px 50px 0px;
}
.createRecipeContent .recipeIngredients {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.createRecipeContent .recipeIngredients input {
  border: none;
  height: 30px;
  border-bottom: 2.5px solid black;
  width: 980px;
  margin-bottom: 87px;
}
.createRecipeContent .recipeIngredients input::placeholder {
  font-family: Lato-Light;
  font-size: 20px;
  color: black;
}
.createRecipeContent #recipeInstructionsHeader {
  font-family: Lato-Light;
  font-size: 20px;
  width: 980px;
  height: 32px;
  padding: 130px 0px 50px 0px;
}
.createRecipeContent .recipeIngredients {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.createRecipeContent .recipeIngredients input {
  border: none;
  height: 30px;
  border-bottom: 2.5px solid black;
  width: 980px;
  margin-bottom: 87px;
}
.createRecipeContent .recipeIngredients input::placeholder {
  font-family: Lato-Light;
  font-size: 20px;
  color: black;
}

@font-face {
  font-family: "Lato Italic";
  src: url("../assets/fonts/Lato-Italic.ttf");
}
footer {
  font-family: Lato Italic;
  color: #393939;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer #copyright {
  margin-left: 40px;
}
footer #footerLinks a {
  padding: 0px 26px 26px 20px;
  text-decoration: none;
  color: #393939;
}
footer #socials {
  margin-right: 40px;
}

/*# sourceMappingURL=styles.css.map */
