@font-face {
  font-family: "Lato Italic";
  src: url("../assets/fonts/Lato-Italic.ttf");
}

@font-face {
  font-family: "Caveat";
  src: url("../assets/fonts/Caveat.ttf");
}

@font-face {
  font-family: "Lato-Light";
  src: url("../assets/fonts/Lato-Light.ttf");
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato.ttf");
}

.createRecipeContent {
  display: flex;
  align-items: center;
  //   justify-content: space-evenly;
  flex-direction: column;

  #createRecipeGreet {
    font-family: Caveat;
    font-size: 25px;
    width: 980px;
    height: 32px;
    // margin: 132px 0px 78px 197px;
    padding: 132px 0px 78px 0px;
  }

  .generalDetails {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    input {
      border: none;
      height: 30px;
      border-bottom: 2.5px solid black;
      width: 980px;
      margin-bottom: 87px;

      &::placeholder {
        font-family: Lato-Light;
        font-size: 20px;
        color: black;
      }
    }

    #recipeName {
    }

    #addImgButton {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      text-decoration: none;
      color: black;
      width: 110px;
      height: 36px;
      border: none;
      border-radius: 26px;
      background-color: #ffd972;
      margin-right: 50px;
      font-family: Caveat;
      margin: 0px 0px -20px 870px;
      z-index: 500 !important;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      //   position: relative;

      a {
        text-decoration: none;
        color: black;
      }
    }
  }

  #recipeHeader {
    font-family: Lato-Light;
    font-size: 20px;
    width: 980px;
    height: 32px;
    padding: 130px 0px 50px 0px;
  }

  .recipeIngredients {
    display: flex;
    align-items: center;
    // justify-content: space-evenly;
    flex-direction: column;

    input {
      border: none;
      height: 30px;
      border-bottom: 2.5px solid black;
      width: 980px;
      margin-bottom: 87px;

      &::placeholder {
        font-family: Lato-Light;
        font-size: 20px;
        color: black;
      }
    }
  }

  #recipeInstructionsHeader {
    font-family: Lato-Light;
    font-size: 20px;
    width: 980px;
    height: 32px;
    padding: 130px 0px 50px 0px;
  }

  .recipeIngredients {
    display: flex;
    align-items: center;
    // justify-content: space-evenly;
    flex-direction: column;

    input {
      border: none;
      height: 30px;
      border-bottom: 2.5px solid black;
      width: 980px;
      margin-bottom: 87px;

      &::placeholder {
        font-family: Lato-Light;
        font-size: 20px;
        color: black;
      }
    }
  }

  #createRecipe {
    width: 422px;
    height: 52px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: black;
    border-radius: 26px;
    background-color: #efa7a7;
    margin-right: 50px;
    font-family: Caveat;
    font-size: 25px;
    margin-bottom: 110px;

    a {
      text-decoration: none;
      color: black;
    }
  }
}
